using this site https://cubic-bezier.com/#.17,.67,.83,.67 to express the ease-in-out function
check out udemy https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274600#questions
lecture 79 time 12:00