node_modules/
using this site https://cubic-bezier.com/#.17,.67,.83,.67 to express the ease-in-out function
check out udemy https://www.udemy.com/course/advanced-css-and-sass/learn/lecture/8274600#questions
lecture 79 time 12:00

 margin-right: auto; great trick to space out components.
 https://css-tricks.com/snippets/html/glyphs/ ch 84 building 12:02